# Python cache
__pycache__/
*.py[cod]
*.pyc

# Django migrations (ignore generated migration files)
**/migrations/
!**/migrations/__init__.py

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Local Database
db.sqlite3

# Logs
*.log

README.md
*.pdf